:root {
    --bg-dark: oklch(0.1 0.025 241);
--bg: oklch(0.15 0.025 241);
--bg-light: oklch(0.2 0.025 241);
--text: oklch(0.96 0.05 241);
--text-muted: oklch(0.76 0.05 241);
--highlight: oklch(0.5 0.05 241);
--border: oklch(0.4 0.05 241);
--border-muted: oklch(0.3 0.05 241);
--primary: oklch(0.76 0.1 241);
--secondary: oklch(0.76 0.1 61);
--danger: oklch(0.7 0.05 30);
--warning: oklch(0.7 0.05 100);
--success: oklch(0.7 0.05 160);
--info: oklch(0.7 0.05 260);
--font: "Manrope", sans-serif;
}

* {
    margin: 0px;
    background-color: var(--bg);
    font-family: "Manrope", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    color: var(--text);
}

.buttons {
    display: flex;
    gap: 0.5rem;
}

.wrapper {
    margin: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid var(--border);
}

.wrapper > div {
    width: 100px;
    height: 100px;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-light);
    transition: background-color 0.3s ease;
    color: var(--text);
    font-size: 4rem;
    font-weight: normal;
    cursor: pointer;
    transition: scale 0.1s ease;
}

.wrapper > div:hover {
    background-color: var(--highlight);
}

.wrapper > div:active {
    scale: 0.95;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#status-message {
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
    font-weight: 900;
}

.scoreboard {
    display: flex;
    align-items: center;
    margin: 1rem;
    font-weight: 100;
}

.scoreboard > p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Buttons */
#next {
    background-color: var(--text);
}

#reset {
    background-color: var(--primary);
}

#next,
#reset {
    border: 0px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.5rem 1.25rem;
    text-align: center;
    touch-action: manipulation;
    transition: transform 0.1s ease;
    transition: background-color 0.3s ease;
}

#next:hover {
    background-color: rgb(249, 250, 251);
}


#reset:hover {
    background-color: var(--secondary);
}

#next:focus,
#reset:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

#next:active,
#reset:active {
    transform: scale(0.95);
}