.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.players {
    display: flex;
    flex-direction: column;
}

.players h2 {
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
}

.buttons {
    display: flex;
    gap: 0.5rem;
}

/* CSS */
#start,
#reset {
    background-color: #FFFFFF;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.5rem 1.25rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: transform 0.1s ease;
}

#start:hover,
#reset:hover {
    background-color: rgb(249, 250, 251);
}

#start:focus,
#reset:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

#start:active,
#reset:active {
    transform: scale(0.95);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
}

.wrapper > div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper > div:hover {
    background-color: lightgray;
}